@model Models.BossModels.BossDetail

@{
    ViewBag.Title = "Details";
}

<style>
    #main {
        background-color: tan;
    }

    #title {
        color: white;
        text-decoration: underline overline;
    }
</style>

<h2 id="title">Details</h2>

<div id="main">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weakness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weakness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tips)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
